// margin、padding
@each $i, $space in $spacing {
    .m-#{$i} {
        margin: $space;
    }
    .mb-#{$i} {
      margin-bottom: $space;
    }
    .p-#{$i} {
        padding: $space;
    }
    .pl-#{$i} {
        padding-left: $space;
    }
    .pr-#{$i} {
        padding-right: $space;
    }
    .py-#{$i} {
        padding-top: $space;
        padding-bottom: $space;
    }
    .px-#{$i} {
        padding-right: $space;
        padding-left: $space;
    }
}

// display
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
// flex
.d-flex{
    display: flex;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}

.flex-column{
    flex-direction: column;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}


// font
.h1{
    font-size: 96px;
    line-height: 128px;
}
.h2{
    font-size: 48px;
}
.h3{
    font-size: 24px;
}
.h4{
    font-size: 16px;
}
.h5{
    font-size: 14px;
}
.fs-lg{
    font-size: 72px;
}

.lh-base{
    line-height: 1.5;
}

.fw-bold{
    font-weight: bold;
}

.font-heading{
    font-family: $heading;
}


// border
.border{
    border: 1px solid #000;
    &-dark{
        border: 1px solid $dark;
    }
    &-x-dark{
        border-left: 1px solid $dark;
        border-right: 1px solid $dark;
    }
}


// text
.text{
    // 顏色
    &-primary{
        color: $primary;
    }
    &-secondary{
        color: $secondary;
    }
    &-white{
        color: #FFF;
    }
    // 對齊
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
}


// background
.bg{
    // 顏色
    &-dark{
        background-color: $dark;
    }
    &-light{
        background-color: $light;
    }
    // size
    &-cover{
        background-size: cover;
    }
    // position
    &-center{
        background-position: center;
    }
}


// hover
.hover{
    &-primary:hover{
        color: $primary;
    }
    &-secondary:hover{
        color: $secondary;
    }
    &-dark:hover{
        background: $dark;
        color: $light;
    }
    &-light:hover{
        background: $light;
        color: $dark;
    }
}


// width height
.w-50{
    width: 50%;
}

.h-100{
    height: 100%;
}


// position
.position{
    &-relative{
        position: relative;
    }
    &-absolute{
        position: absolute;
    }
}